<html>
<head>
	<title> {{ title }}</title>
    <link rel="stylesheet" href="/static_media/css/base.css" type="text/css" media="screen" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
</head>


<body>
	<div id="top-bg"></div>
	<div id="wrapper-outer" class="clearfix">
		<div id="pans"></div>
		<div class="png"><div id="tea-towel"></div></div>
	
		<!-- wrapper inner -->
		<div id="wrapper-inner" class="clearfix">
			<div id="top-nav">
				<ul class="clearfix">
					<li><a href="/">主頁</a></li>
					<li><a href="/">美食地圖</a></li>
					<li><a href="/">加入我們</a></li>
				</ul>
			</div><!--top-nav-->
		
			<div id="header">
				<h1><a href="/"></a></h1>
				<span id="facebook">
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.chihuo.org&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
				</span>
			</div>
		
			<div id="search">
				<form method="get" id="searchform" action="/">
					<input type="text" value="" name="s" id="s" size="15" />
					<input type="submit" id="searchsubmit" value="" />
				</form>
			</div>
		
		
		
	
		
		
		
		
		