

/* --------------- ( Reset ) --------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
} 




.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */ 




/* --------------- ( General ) --------------------------------------------- */
body {
	
	background: url(../images/bg.jpg);
	font: 12px Arial, Helvetica, sans-serif;
	position: relative;
	overflow-x: hidden;
}
#top-bg {
	background: url(../images/bg-header.png);
	height: 464px;
	width: 100%;
}
#pans {
	background: url(../images/pans.jpg);
	height: 199px;
	position: absolute;
	right: 10%;
	top: -29px;
	width: 108px;
}
#wrapper-outer {
	margin-top: -417px;
	position: relative;
}
#wrapper-inner {
	margin: 0px auto;
	position: relative;
	width: 906px;
}
#tea-towel {
	position: absolute;
	
	background: url(../images/bg-tea-towel.png);
	width: 859px;
	height: 720px;
	bottom: -15px;
	right: 0px;
}
a { color: #BA0B0A; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: red; }
.top { display: block; }
.curve-bottom { *margin-top: -12px; }




/* --------------- ( Top Nav ) --------------------------------------------- */
#top-nav {
	background: url(../images/bg-top-nav.jpg);
	height: 84px;
	left: 180px;
	position: absolute;
	top: -29px;
	width: 291px;
}
	#top-nav ul {
		margin: 42px 12px 0px 15px;
	}
		#top-nav ul li {
			display: inline;
		}
			#top-nav ul li a {
				color: black;
				float: left;
				height: 28px;
				line-height: 28px;
				padding: 0px 22px 0px 22px;
				text-decoration: none;
				background: url(../images/top-nav-divider.jpg) right no-repeat;
			}
				#top-nav ul li a:hover {
					text-decoration: underline;
				}
			


/* --------------- ( Header ) --------------------------------------------- */
#header {
	
}
	#header h1 a {
		background: url(../images/logo.png);
		display: block;
		height: 116px;
		margin-left: 24px;
		text-indent: -9999px;
		width: 128px;
	}
#facebook{
		position: absolute;
		left:55px;
}



/* --------------- ( Search ) --------------------------------------------- */
#search {
	background: url(../images/bg-search.png);
	*background: url(../images/bg-search.jpg);
	height: 51px;
	position: absolute;
	right: 0px;
	top: 22px;
	width: 353px;
}
	#search input#s {
		border: none;
		*border: 1px solid none;
		background: none;
		float: left;
		font-size: 14px;
		margin: 24px 0px 0px 34px;
		width: 210px;
		color: #BE0606;
	}
	#search input#searchsubmit {
		background: none;
		border: none;
		cursor: pointer;
		float: left;
		height: 37px;
		margin: 14px 0px 0px 10px;
		width: 81px;
	}




/* --------------- ( Content ) --------------------------------------------- */
#content {
	float: right;
	margin-top: -43px;
	width: 724px;
}
	#inner-content {
		background: white;
		padding: 18px 25px 25px 25px;
		min-height: 750px;
		_height: 750px;
	}
		#inner-content #page {
			
		}
			#inner-content #page {
				
			}
		#inner-content .blog .post {
			padding-bottom: 12px;
			margin-bottom: 20px !important;
		}
		.border { border-bottom: 1px solid #ccc; }
		.post {
			margin-bottom: 20px;
			padding-bottom: 26px;
			*padding-bottom: 16px;
		}
		
		.post-highlight{
			margin-bottom: 20px;
			padding-bottom: 26px;
			*padding-bottom: 16px;
		}
		
		.post-normal{
			margin-bottom: 10px;
			padding-bottom: 10px;
			*padding-bottom: 10px;		
		}
		.post-single {
			margin-bottom: 0px;
			padding-bottom: 6px;
			*padding-bottom: 16px;
		}
			.post h1, h2, h3, h4, h5, h6 {
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				margin-bottom: 14px;
			}
			.post-single h1, h2, h3, h4, h5, h6 {
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				margin-bottom: 14px;
			}
			.post h1, .post-single h1 { font-size: 22px; }
			.post h2, .post-single h2 { font-size: 20px; }
			.post h3, .post-single h3 { font-size: 18px; }
			.post h4, .post-single h4 { font-size: 15px; font-weight: bold; }
			.post h5, .post-single h5 { font-size: 13px; font-weight: bold; }
			.post h6, .post-single h6 { font-size: 11px; font-weight: bold; }
			.post h1 { font-size: 30px;}
			.post h1 a { text-decoration: none; }
			.post h2 a { text-decoration: none; }							
			.post h2{	font-size: 20px; margin-left: 200px; margin-bottom: 0px; }
			.post .read-more {
				margin-top: -30px;
				float: right;
			}
			.post .read-more-short { 
				margin-top: -25px;
				float: right;
				margin-right:30px;
				clear:both;
			}
			.post table {
				width: 100%;
				margin-bottom: 12px;
				border-right: 1px solid #ccc;
				*border-collapse: collapse;
			}
				.post table tr {
					
				}
					.post table tr th {
						font-weight: bold;
						padding: 6px;
						border-left: 1px solid #BA0A0A;
						border-right: 1px solid #BA0A0A;
						background: #BA0A0A;
						color: #fff;
					}
					.post table tr td {
						border-left: 1px solid #ccc;
						padding: 6px;
						border-bottom: 1px solid #ccc;
						line-height: 17px;
					}
			
			.post ul {
				margin: 0px 0px 14px 16px;
			}
				.post ul li {
					margin-bottom: 8px;
					line-height: 17px;
					padding-left: 12px;
					background: url(../images/red-bullet.gif) 0px 7px no-repeat;
				}
			.post ol {
				margin: 0px 0px 14px 16px;
				list-style: decimal inside;
			}
				.post ol li {
					margin-bottom: 8px;
					line-height: 17px;
					padding-left: 12px;
				}
			.post blockquote {
				border-left: 3px solid #ccc;
				padding-left: 8px;
				margin-left: 16px;
				color: #666;
			}
			
			.post .author {
				color: rgb(102, 102, 102);
				font-size: 12px;
				font-style: italic;
				margin: 3px 0px 12px 0px;
			}
				.post .entry-text .thumbnail-large {
					margin-bottom: 14px;
				}
				
				.post .thumbnail-large {
					background: url(../images/thumbnail-large.png);
					float: left;
					height: 233px;
					padding-top: 13px;
					text-align: center;
					vertical-align: middle;
					width: 326px;
				}
				
				.post .thumbnail-larger {
					background: url(../images/thumbnail-larger.png);
					float: left;
					height: 233px;
					padding-top: 13px;
					text-align: center;
					vertical-align: middle;
					width: 400px;
				}
				
				.post .thumbnail-small{
					background: url(../images/thumbnail-small.png);
					float:left;
					height: 150px;
					padding-top:13px;
					text-align: center;
					vertical-align:middle;
					width:164px;
				}
				
				.post .thumbnail-small img{
					margin-top: -5px;
				}

				
				.post .text {
					float: right;
					width: 260px;
					/*height:230px;*/
					margin-top: 10px;
				}
				
				.post .text-short {
					float: left;
					margin-left: 37px;
					margin-top:	10px;
					width: 450px;
					height: 90px;
					overflow: hidden;
				}
				
					.post .text p,/* .post .entry p,*/ .post-single .entry p {
						line-height: 20px;
						height:140px;
						margin-bottom:40px;
						overflow:hidden;
						clear: both;
					}
						.post p, .post-single p {
							margin-bottom: 15px;
						}
					.post .meta {
						color: rgb(102, 102, 102);
						float: left;
						font-size: 12px;
						margin: 14px 0px 0px 0px;
					}
					.meta-non {
						font-size: 11px;
						margin-bottom: 10px;
						color: #666;
					}
						.post .meta a {
							background: rgb(186, 11, 10);
							color: white;
							display: block;
							float: left;
							font-size: 11px;
							font-weight: bold;
							margin: 0px 7px 7px 0px;
							padding: 4px 6px;
							text-decoration: none;
						}
							.post .meta a:hover {
								background: red;
							}
					.post .serves {
						width: 65px;
						height: 23px;
						margin: 14px 0px 0px 40px;
						float: left;

						text-indent: -9999px;
					}
						.serves-1 { background: url(../images/serves-grid.png) 0px 115px; }
						.serves-2 { background: url(../images/serves-grid.png) 0px 92px; }
					    .serves-3 { background: url(../images/serves-grid.png) 0px 69px; }
						.serves-4 { background: url(../images/serves-grid.png) 0px 46px; }
						.serves-5 { background: url(../images/serves-grid.png) 0px 23px; }
					.post .rating-bg{
						background: url(../images/rating-bg.png);
						width:102px;
						height: 34px;
						float: left;
						margin-top: 6px;
						margin-left: 10px;
						
					}
					.post .rating {
						width: 115px;
						height: 23px;
						margin: 14px 0px 0px 10px;
						float: left;
						text-indent: -9990px;
	
					}
					
						.rating-1 { background: url(../mages/rating-star.png) 0px 118px;}
						.rating-2 { background: url(../images/rating-star.png) 0px 95px;}
						.rating-3 { background: url(../images/rating-star.png) 0px 70px;}
						.rating-4 { background: url(../images/rating-star.png) 0px 48px;}
						.rating-5 { background: url(../images/rating-star.png) 0px 26px;}
				
					.timer {
						background: url(../images/timer.png) no-repeat left;
						height: 29px;
						float: right;
						padding-left: 38px;
						width: 198px;
						margin-top: 15px;
						line-height: 29px;
					}
					.post .price {
						width: 65px;
						height: 23px;
						margin: 14px 0px 0px 55px;
						float: left;
						text-indent: -9999px;
					}
						.price-1 { background: url(../images/price-grid.png) 0px 115px; }
						.price-2 { background: url(../images/price-grid.png) 0px 92px; }
						.price-3 { background: url(../images/price-grid.png) 0px 69px; }
						.price-4 { background: url(../images/price-grid.png) 0px 46px; }
						.price-5 { background: url(../images/price-grid.png) 0px 23px; }
					.on-map {
							background: url(../images/on-map.png) no-repeat left;
							height: 29px;
							float: left;
							padding-left: 38px;
							margin-left: 68px;
							margin-top: 12px;
							line-height: 29px;
							text-indent:-9999px;
						}
						
	.post .entry-text {
		width: 674px;
	}
	.post .entry-text .entry{
		width: 450px;
		float: left;
	}
	
	.post .entry-text .entry-sidebar{
		float: right;
		width: 220px;
	}
		
		.post .entry-text .entry-sidebar h2{
			margin-left:14px;
		}
	
		.post .entry-text .entry-sidebar .recos,.ingredients{
			background: #FFF5BE;
			padding: 14px 14px 2px 0px;
		}
		
		.post .entry-text .entry-sidebar .restaurant-info, .cooking-tips{
			margin-top: 20px;
			background: #FFF5BE;
			padding: 14px 14px 2px 0px;
		}
		
		.post .entry-text .entry-sidebar .restaurant-info .address, .telephone, .post-serves, .post-price, .cookingtime, .difficulty{
			padding-left: 20px;
		}


		.post .entry-text .entry-sidebar .google-map {
			background: #FFF5BE;
			margin-top: 20px;
			padding: 14px 14px 2px 0px;
			height: 200px;
		}
	/*
	.post .recipe-meta {
		float: right;
		width: 322px;
	}
	
		.post .recipe-meta .ingredients {
			background: #FFF5BE;
			padding: 14px 14px 2px 0px;
		}
		.post .recipe-meta h2 {
			margin-left: 14px;
		}
	*/
	/*
		.post .recipe-meta .meta {
			margin-top: 26px;
		}
	*/
	/*	
		.post .recipe-meta .restaurant-info {
			margin-top: 20px;
			background: #FFF5BE;
			padding: 14px 14px 2px 0px;
		}
	*/	

	



/* --------------- ( Sidebar ) --------------------------------------------- */
#sidebar {
	color: white;
	float: left;
	margin-top: 30px;
	width: 182px;
}
	#sidebar a {
		color: #fff;
	}
	#sidebar h2 {
		font: 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
		margin-bottom: 8px;
		text-align: center;
		padding-top: 8px;
	}
	#sidebar .sidebar-inner {
		background: url(../images/sidebar-mid.png) repeat-y;
		padding: 0px 12px 0px 12px;
	}
		#sidebar .box {
			padding-bottom: 12px;
		}
			#sidebar .box ul {
				
			}
				#sidebar .sidebar-inner .box ul li {
					display: inline;
				}
					#sidebar .sidebar-inner .box ul li a {
						display: block;
						border-bottom: 1px solid #DB8585;
						padding-bottom: 2px;
						margin-bottom: 2px;
						text-decoration: none;
						line-height: 17px;
						text-align: center;
					}
						#sidebar .sidebar-inner .box ul li a:hover {
							text-decoration: underline;
						}
	#sidebar .bottom {
		margin-bottom: 15px;
	}
	#sidebar #rss-pane {
		background: url(../images/bg-rss.png);
		height: 270px;
		margin-top: 12px;
		padding: 12px 12px 0px 14px;
		*padding: 12px 12px 0px 12px;
		color: #000;
	}
		#sidebar #rss-pane h2 {
			font: 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
			margin-bottom: 8px;
		}
		#sidebar #rss-pane a#rss-icon {
			background: url(../images/rss-icon.png);
			width: 39px;
			height: 39px;
			text-indent: -9999px;
			display: block;
			float: left;
			margin: 0px 15px 6px 0px;
		}
		#sidebar #rss-pane p {
			font-size: 11px;
			line-height: 17px;
		}
		#sidebar #rss-pane p.margin {
			margin-bottom: 12px;
		}
		#sidebar .feedburner {
			margin-bottom: 16px;
		}
			#sidebar .feedburner input#feed-email {
				border: 2px solid #C2CDE7;
				padding: 4px;
				width: 138px;
				*width: 142px;
				margin-bottom: 9px;
			}
			#sidebar .feedburner input#feed-submit {
				background: url(../images/button-save.png);
				width: 69px;
				height: 33px;
				border: none;
				margin-right: 3px;
				float: right;
				cursor: pointer;
				cursor: hand;
			}
			




/* --------------- ( Footer ) --------------------------------------------- */
#footer {
	float: right;
	width: 722px;
	margin: 15px 0px 10px 0px;
	*margin: 10px 0px 15px 0px;
	text-align: right;
	font-size: 11px;
	color: #fff;
}
	#footer p {
		float: left;
		padding: 3px 5px;
		font-weight: bold;
	}
	#footer a {
		color: #fff;
	}




/* --------------- ( Contact ) --------------------------------------------- */
.wpcf7 {
		
	}
	.wpcf7 br {
		display: none;
	}
		.wpcf7 p {
			
		}
		.wpcf7 label {
			margin-bottom: 6px;
			display: block;
		}
			.wpcf7 p input {
				border: 2px solid #C2CDE7;
				margin: 0px 0px 0px 0px;
				width: 303px;
				padding: 7px;
				font: 11px Verdana, Geneva, sans-serif;
				color: #595959;
			}
			.wpcf7 p textarea {
				border: 2px solid #C2CDE7;
				margin: 0px 0px 0px 0px;
				width: 443px;
				height: 131px;
				font: 11px Verdana, Geneva, sans-serif;
				color: #595959;
				padding: 7px;
			}
		.wpcf7 p.button {
			background: none;
			height: 27px;
		}
			.wpcf7 p.button input {
				background: url(../images/btn-submit.png);
				margin: 0px 0px 0px 0px;
				width: 77px;
				height: 33px;
				border: none;
				cursor: pointer;
				cursor: hand;
			}




/* --------------- ( WP Page Navi ) --------------------------------------------- */
.wp-pagenavi {
	position: relative;
}
	.wp-pagenavi .span.pages {
		color: #666 !important;
	}
	.wp-pagenavi span.current {
		background: #4967B6 !important;
		color: #fff !important;
	}
	.wp-pagenavi span {
		border: 1px solid #4967B6 !important;
	}
	.wp-pagenavi a {
		background: #DFE4F2 !important;
	}
		.wp-pagenavi a:hover {
			background: #4967B6 !important;
			color: #fff !important;
		}
	




/* ---------- ( Comments ) ---------------------------------------- */
.logged { background: none !important; }

.comments-template {
	margin-top: 20px;
}
	.comments-template h2 {
		font-size: 18px;
	}

	/* ----- ( Comments ) ----- */
	.comments-template p.clearfix {
		margin-bottom: 12px;
	}
	.comments-template label {
		margin-bottom: 6px;
		display: block;
	}
		.comments-template p.clearfix input {
			border: 2px solid #C2CDE7;
			margin: 0px 0px 0px 0px;
			width: 303px;
			padding: 7px;
			font: 11px Verdana, Geneva, sans-serif;
			color: #595959;
		}
		.comments-template p.clearfix textarea {
			border: 2px solid #C2CDE7;
			margin: 0px 0px 0px 0px;
			width: 443px;
			height: 131px;
			font: 11px Verdana, Geneva, sans-serif;
			color: #595959;
			padding: 7px;
		}
		.comments-template p.button {
			padding: 0;
		}
		.comments-template p.button input {
			background: url(../images/btn-comment.jpg);
			width: 93px;
			height: 33px;
			border: none !important;
			cursor: pointer;
			cursor: hand;
		}

    /* ----- ( Comments ) ----- */
	.comments-template ol {
		padding-left: 0 !important;
		list-style: none !important;
	}
		.comments-template ol li {
			margin-bottom: 18px !important;
		}
			.comments-template ol li p {
				margin-bottom: 15px !important;
			}
			.comments-template ol li .comment-box {
				border-top: 1px solid #ccc;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
				background: #fff;
				padding: 15px 15px 0px 15px;
			}
				.comments-template ol li .comment-box .avatar {
					float: right;
					width: 50px;
					margin-bottom: 8px;
				}
				.comments-template ol li .comment-box .comment_text {
					float: left;
					width: 505px;
				}
			.comments-template .commentmetadata {
				font-size: 11px;
				padding: 8px;
				border-left: 1px solid #BE0807;
				border-right: 1px solid #BE0807;
				border-bottom: 1px solid #BE0807;
				background: #BE0807 url(../images/red-bg.jpg) repeat-x;
				color: #fff;
				$margin-top: -3px;
			}
				.comments-template .commentmetadata a {
					color: #fff;
				}
			
		/* Author Comment Style */
		.comments-template ol li.author .comment-box {
			border: 1px solid #B20807;
			background: #fff;
			padding: 15px 15px 0px 15px;
		}







